// 不换行
no-wrap(){
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
}

//清除浮动
clear(){
  clear both
  content " "
  display block
  visibility hidden
}

// 旋转
@keyframes clockwise
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
